@charset "UTF-8";

/* 전체 구간 */
.main__topButton::after {
  width: 140%;
  height: 140%;
  left: 50%;
  top: 50%;
}
body {
  overflow-x: hidden;
}
.container {
}

/* 섹션 1 시작 */
.main__sec1 {
  position: relative;
}
/* 섹션 1 이미지 페이드인아웃 */
.main__sec1__imgBox {
  width: 100vw;
  aspect-ratio: 1400 / 720;
  min-height: 900px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.main__sec1__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  scale: 1.15;

  transition: all 1.8s;
}

/* 섹션 1 페이드인아웃 고정 텍스트 */
.main__sec1__imgBox__textBox {
  width: 100vw;
  aspect-ratio: 1400 / 720;
  min-height: 900px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5%;
  left: 0;
}
.main__sec1__imgBox__textBox > img {
  width: clamp(30vw, 80vw, 700px);
  /* clamp(최소값, 선호값, 최대값); */
  /* 화면 크기에 따라 선호값을 계산하되, 최소값보다 작아지지 않고 최대값보다 커지지 않게 제한 */
  height: auto;
  object-fit: contain;
  transform: translateY(15px);
  transition: 0.9s;
}

/* 섹션 1 페이드인아웃 이미지 캡슐 */
.main__sec1__curImg {
  position: absolute;
  padding: 14px 20px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  z-index: 1000;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  transition: 1s;
  opacity: 0;
  z-index: 11;
}
.main__sec1__curImg span:nth-child(1) {
  background-color: #fff;
}
.main__sec1__curImg span {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .main__sec1__imgBox {
    min-height: 600px;
  }
  .main__sec1__imgBox__textBox {
    min-height: 600px;
  }
  .main__sec1__curImg {
    padding: 11px 15px;
  }
  .main__sec1__curImg span {
    width: 8px;
    height: 8px;
  }
}

/* 섹션 1 종료 */

/* 퀵메뉴 고정을 위한 컨테이너 */
.main__sec2Wrapper {
  position: relative;
}

/* 퀵메뉴 */
.main__sec1__quickmenu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  opacity: 0;
  top: 0;
  max-width: 1152px;
  width: calc(100% - 240px);
  /* width: 60vw; */
  aspect-ratio: 5 / 1;
  background-color: #e1eed1;
  display: flex;
  border-radius: 9999px;
  box-shadow: 3px 7px 16px rgba(100, 100, 100, 0.25);
  overflow: hidden;
  z-index: 1000;
  transition: 0.7s;
}

/* 날씨 api 공간 */
.quickmenu__weather {
  width: 25%;
  height: 100%;
  background-color: #76b25c;
  border-radius: 9999px 0 0 9999px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}
.quickmenu__weather > div,
.quickmenu__weather > svg {
  margin-left: 15%;
}
#weather__des {
  font-size: clamp(1rem, 1.1vw, 2rem);
}
#weather__icon {
  width: 38%;
  height: 38%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#weather__temp {
  font-size: clamp(1rem, 2.6vw, 3.2rem);
  font-weight: 500;
}

/* 퀵메뉴 버튼 */
.quickmenu__btnBox {
  width: 75%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 0 3% 0 1%; */
  box-sizing: border-box;
}

.quickmenu__btnBox__btn {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8%;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 0 2%;
  border-right: 1px solid #cee4b5;
}
.quickmenu__btnBox__btn:hover {
  background-color: #a3ca75;
}
.quickmenu__btnBox__btn:hover svg,
.quickmenu__btnBox__btn:hover p {
  color: #fff;
}
.quickmenu__btnBox__btn:last-of-type {
  padding-right: 5%;
  border-right: none;
}

.quickmenu__btnBox__btn > p {
  font-family: var(--fontG);
  font-size: clamp(1rem, 1.4vw, 2rem);
  color: #59945d;
  transition: all 0.4s ease;
}

/* 퀵메뉴 아이콘 */
.quickmenu__btnBox__btn__icon {
  width: 42%;
  height: 42%;
  position: relative;
  color: #59945d;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
  .main__sec1__quickmenu {
    width: calc(100% - 40px);
    transform: translate(-50%, -45%);
    border-radius: 70px;
    flex-wrap: wrap;
    aspect-ratio: inherit;
  }
  #weather__icon {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 65px;
    height: 65px;
  }
  .quickmenu__weather {
    width: 100%;
    border-radius: 0;
    padding: 15px 0;
  }
  #weather__des {
    font-size: 1.4rem;
  }
  .quickmenu__weather > div,
  .quickmenu__weather > svg {
    margin-left: 0;
  }
  #weather__temp {
    font-size: 1.4rem;
  }
  .quickmenu__btnBox {
    width: 100%;
  }
  .quickmenu__btnBox__btn {
    padding: 30px 5px;
    gap: 10px;
  }
  .quickmenu__btnBox__btn__icon {
    width: 35px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .quickmenu__btnBox__btn > p {
    font-size: 1.4rem;
    word-break: break-all;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .quickmenu__btnBox__btn > p {
    font-size: 1.2rem;
  }
}

/* 퀵메뉴 종료 */

/* 섹션 2 시작 */
.main__sec2 {
  width: 100%;
  height: clamp(400px, 75vh, 800px);
  background-color: #f4fdff;
  position: relative;
  overflow: hidden;
}

/* 섹션 2 이미지 */
.main__sec2__background {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main__sec2__background .bg_box {
  max-width: 1150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all 0.4s;
}
.main__sec2__background .bg_box img {
  width: 100%;
  position: absolute;
  transition: all 0.7s;
  bottom: -70px;
  opacity: 0;
}
.main__sec2__background.on .bg_box img {
  bottom: 0;
  opacity: 1;
}
.main__sec2__background.on .bg_box:first-of-type img {
  transition-delay: 0.2s;
}
.main__sec2__background.on .bg_box:nth-of-type(2) img {
  transition-delay: 0.4s;
}
.main__sec2__background.on .bg_box:nth-of-type(3) img {
  transition-delay: 0.6s;
}
.main__sec2__background.on .bg_box:nth-of-type(4) img {
  transition-delay: 0.8s;
}

/* 섹션 2 텍스트 */
.main__sec2__textGuideLine {
  width: 85%;
  max-width: 1600px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
}
.main__sec2__textGuideLine__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  z-index: 500;
}
.main__sec2__textGuideLine__text__title {
  font-family: var(--fontG);
  font-size: 6.4rem;
  color: #5b9960;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}
.main__sec2__textGuideLine__text__title::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border-top: 10px solid #5b9960;
  border-left: 10px solid #5b9960;
  margin: 32px;
}
.main__sec2__textGuideLine__text__title::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border-right: 10px solid #5b9960;
  border-bottom: 10px solid #5b9960;
  margin: -32px 32px;
}

.main__sec2__textGuideLine__text > p {
  text-align: center;
  font-family: var(--fontP);
  font-size: 2rem;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease;
}

.main__sec2__textGuideLine__btn {
  font-size: 2rem;
  color: #5b9960;
  letter-spacing: -0.1rem;
  position: relative;
  cursor: pointer;
  opacity: 0;
  transform-origin: left;
  transform: translateY(40px);
  transition: all 0.7s ease-in-out;
  transition-delay: 0.2s;
}

.main__sec2__textGuideLine__btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  border-radius: 2px;
  background-color: #5b9960;
  transition: width 0.4s ease;
}

.main__sec2__textGuideLine__btn:hover::after {
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .main__sec2__background .bg_box {
    max-width: 900px;
  }
}

@media screen and (max-width: 1024px) {
  .main__sec2__textGuideLine {
    width: calc(100% - 40px);
    justify-content: center;
    align-items: baseline;
  }
  .main__sec2 {
    min-height: 800px;
    padding: 180px 0 0;
  }
  .main__sec2__textGuideLine__text {
    gap: 25px;
  }
  .main__sec2__textGuideLine__text__title {
    font-size: 3.4rem;
  }
  .main__sec2__textGuideLine__text__title::before {
    width: 25px;
    height: 25px;
    border-top: 5px solid #5b9960;
    border-left: 5px solid #5b9960;
    margin: 20px 15px;
  }
  .main__sec2__textGuideLine__text__title::after {
    width: 25px;
    height: 25px;
    border-right: 5px solid #5b9960;
    border-bottom: 5px solid #5b9960;
    margin: -20px 15px;
  }
  .main__sec2__textGuideLine__text > p {
    font-size: 1.6rem;
  }
  .main__sec2__textGuideLine__btn {
    font-size: 1.6rem;
  }
}

/* 섹션 2 종료 */

/* 섹션 3 - 4 공통 css */

.main__sec3__background,
.main__sec4__background {
  width: clamp(500px, 57vw, 1200px);
  height: clamp(200px, 60vh, 800px);
  /* aspect-ratio: 1050 / 600; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 8px 15px rgba(100, 100, 100, 0.25);
  box-sizing: border-box;
  position: absolute;
}

.main__sec3__textBox,
.main__sec4__textBox {
  width: 85%;
  max-width: 1600px;
  /* background-color: azure; */
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}

.main__sec3__textBox__title > h2,
.main__sec4__textBox__title > h2 {
  font-family: var(--fontG);
  font-weight: 400;
  font-size: 2.8rem;

  opacity: 0;
  transition: all 1s ease;
}

.main__sec3__textBox__title > h2 {
  transform: translateX(-30px);
}
.main__sec4__textBox__title > h2 {
  transform: translateX(30px);
}

.main__sec3__textBox__title > h1,
.main__sec4__textBox__title > h1 {
  font-size: 5.2rem;
}

.main__sec3__textBox__title,
.main__sec4__textBox__title {
  margin-bottom: 24px;
}

.main__sec3__textBox__btn,
.main__sec4__textBox__btn {
  width: clamp(140px, 8vw, 200px);
  height: 48px;
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.25);
  background: #9acb69;
  background: linear-gradient(
    90deg,
    rgba(154, 203, 105, 1) 0%,
    rgba(89, 163, 92, 1) 35%,
    rgba(154, 203, 105, 1) 69%,
    rgba(68, 150, 88, 1) 100%
  );
  background-size: 310% 200%;
  transition: all 0.5s ease;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: var(--fontG);
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 24px;
  cursor: pointer;
}

.main__sec3__textBox__btn:hover,
.main__sec4__textBox__btn:hover {
  background-position: right center;
}

.main__sec3__textBox > p,
.main__sec4__textBox > p {
  width: 25vw;
  font-size: 2rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 24px;
  font-family: var(--fontP);
}

.main__sec3,
.main__sec4 {
  width: 100%;
  height: 80vh;
  padding-top: 160px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

/* 섹션 3 - 4 공통 css 종료 */

/* 섹션 3 시작 */
.main__sec3__background {
  background-image: url(../assets/img/main/main_img7.jpg);
  border-radius: 999px 0 0 999px;
  right: 0;

  opacity: 0;
  transition: all 1.5s ease;
  transform: translateX(100px);
}

.main__sec3__textBox__title > h1,
.main__sec3__textBox > p {
  opacity: 0;
  transform: translate(-50px);
  transition: all 1.2s ease;
}

.main__sec3__textBox__btn {
  transform-origin: left;
  transform: scaleX(0);
  transition: all 1.5s ease;
}
/* 섹션 3 종료 */

/* 섹션 4 시작 */
.main__sec4__textBox {
  align-items: flex-end;
}

.main__sec4__textBox__title {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main__sec4__textBox__title > h1,
.main__sec4__textBox > p {
  opacity: 0;
  transform: translate(50px);
  transition: all 1.2s ease;
}

.main__sec4__textBox__btn {
  transform-origin: right;
  transform: scaleX(0);
  transition: all 1.5s ease;
}

.main__sec4__background {
  background-image: url(../assets/img/main/main_img6.jpg);
  border-radius: 0 999px 999px 0;
  left: 0;
  opacity: 0;
  transition: all 1.5s ease;
  transform: translateX(-100px);
  will-change: transform;
}

@media screen and (max-width: 1024px) {
  .main__sec3,
  .main__sec4 {
    padding: 0;
  }
  .main__sec3__textBox,
  .main__sec4__textBox {
    width: calc(100% - 40px);
  }
  .main__sec3,
  .main__sec4 {
    flex-direction: column;
    height: auto;
    padding: 60px 0;
    align-items: end;
    gap: 45px;
  }
  .main__sec3__background {
    position: static;
    background-position: right;
    width: calc(100% - 20px);
    height: 400px;
  }
  .main__sec3__textBox__title > h2,
  .main__sec4__textBox__title > h2 {
    font-size: 2rem;
  }
  .main__sec3__textBox__title > h1,
  .main__sec4__textBox__title > h1 {
    font-size: 3.5rem;
  }
  .main__sec3__textBox > p,
  .main__sec4__textBox > p {
    width: 100%;
    font-size: 1.6rem;
  }
  .main__sec3__textBox__title,
  .main__sec4__textBox__title {
    margin-bottom: 20px;
  }
  .main__sec3__textBox__btn,
  .main__sec4__textBox__btn {
    width: 120px;
    font-size: 1.6rem;
    height: 45px;
    line-height: 47px;
  }
  /* 섹션 4 */
  .main__sec4 {
    align-items: flex-start;
    padding-top: 0;
  }
  .main__sec4__background {
    position: static;
    background-position: left;
    width: calc(100% - 20px);
    height: 400px;
  }
}

/* 섹션 4 종료 */

/* 섹션 5 (이미지 롤링) 시작 */
.main__sec5 {
  width: 100%;
  /* height: 640px; */
  padding-bottom: 360px;
  padding-top: 200px;
  position: relative;
}
.main__sec5__rollBox {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.main__sec5__rollBox:nth-child(1) {
  padding-bottom: 100px;
}
.main__sec5__rolling {
  display: flex;
}
.main__sec5__rolling ul {
  display: flex;
}
.main__sec5__rolling ul li {
  width: 360px;
  aspect-ratio: 320 / 250;
  border-radius: 16px;
  margin-right: 35px;
  margin-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 4px 7px rgba(100, 100, 100, 0.3);
}

.main__sec5__footerBg {
  position: absolute;
  width: 1200px;
  bottom: -150px;
  width: 100%;
  z-index: -1;
}

.main__sec5__aniLeft {
  animation: main__sec5__move1 linear infinite 30s;
}
.main__sec5__aniRight {
  animation: main__sec5__move2 linear infinite 30s;
}

@keyframes main__sec5__move1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes main__sec5__move2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* 섹션 5 (이미지 롤링) 종료 */

@media screen and (max-width: 1024px) {
  .main__sec5 {
    padding-bottom: 200px;
    padding-top: 40px;
  }
  .main__sec5__rolling ul li {
    width: 200px;
    aspect-ratio: 200 / 150;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .main__sec5__rollBox:nth-child(1) {
    padding-bottom: 50px;
  }
  .main__sec5__footerBg {
    bottom: 0px;
  }
}
