.container {
  width: 100%;
  height: 100%;
}
.main__sec1 {
  width: 100%;
  height: 100%;
}
.main__sec1__imgBox {
  width: 100%;
  height: 650px;
  position: relative;
}
.main__sec1__imgBox img {
  width: 100%;
  height: 100%;
}
