@charset "UTF-8";

/* 편의안내 - 오시는길 */
.direction_map_wrap #map {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.map_info {
  background: var(--color01);
  border-radius: 0 0 15px 15px;
}

.map_info .map_contents {
  display: flex;
  padding: 50px;
  align-items: center;
  gap: 80px;
}

.custom-marker {
  width: 32px;
  height: 32px;
  animation: marker 0.8s alternate infinite;
}
@keyframes marker {
  0% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

.map_info .map_contents .logo_img {
  position: relative;
}

.map_info .map_contents .logo_img::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 40px);
  background: rgba(255, 255, 255, 0.5);
}

.map_info .map_contents .address_wrap {
  color: #fff;
}

.map_info .map_contents .address_wrap li {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.map_info .map_contents .address_wrap li span {
  display: inline-block;
  min-width: 75px;
  flex-shrink: 0;
}

.map_info .map_contents .address_wrap li + li {
  margin-top: 10px;
}

.map_info .map_contents .address_wrap li span::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.map_info .map_contents .address_wrap li.adr span::before {
  background: url(../../assets/img/sub/info/ico_address.png);
  background-size: contain;
}

.map_info .map_contents .address_wrap li.call span::before {
  background: url(../../assets/img/sub/info/ico_call.png);
  background-size: contain;
}

.direction_map_wrap .parking {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
  margin-top: 20px;
  line-height: 24px;
  font-family: var(--fontP);
}

.direction_map_wrap .parking span::before {
  content: "!";
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--color01);
  color: #fff;
  text-align: center;
  line-height: 21px;
  font-size: 1.3rem;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.direction_map_wrap .parking p strong {
  width: 100%;
  font-weight: 400;
  color: var(--color01);
}

.traffic_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  background: #fff;
  border-radius: 10px;
  min-width: 120px;
  padding-top: 2px;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.3s;
}
.traffic_btn button:hover {
  background: #45a54c;
  color: #fff;
}
.transpo_wrap {
  margin-top: 55px;
}
.transpo_wrap .info {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.transpo_wrap .info:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}
.transpo_wrap .info + .info {
  margin-top: 40px;
}
.transpo_wrap .info .left_ico {
  flex: 0 0 20%;
  text-align: center;
  font-size: 1.8rem;
}
.transpo_wrap .info .left_ico::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background: url(../../assets/img/sub/info/map_car.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.transpo_wrap .info:nth-of-type(2) .left_ico::before {
  background-image: url(../../assets/img/sub/info/map_train.png);
}
.transpo_wrap .info:nth-of-type(3) .left_ico::before {
  background-image: url(../../assets/img/sub/info/map_bus.png);
}
.transpo_wrap .info .right_info .name {
  color: #2157ad;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.transpo_wrap .info .right_info ul li {
  position: relative;
  font-family: var(--fontP);
  font-size: 1.8rem;
  padding-left: 12px;
  letter-spacing: -0.02em;
}
.transpo_wrap .info .right_info ul li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #2157ad;
  border-radius: 50%;
  left: 0;
  top: 10px;
}
.transpo_wrap .info .right_info .box + .box {
  margin-top: 25px;
}

@media screen and (max-width: 1024px) {
  .map_info .map_contents {
    padding: 40px 20px;
    gap: 25px 80px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .map_info .map_contents .logo_img {
    width: 100%;
    text-align: center;
  }
  .map_info .map_contents .logo_img::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .direction_map_wrap #map {
    height: 250px;
  }
  .map_info .map_contents {
    padding: 30px 20px;
  }
  .map_info .map_contents .address_wrap li span {
    min-width: 62px;
  }
  .map_info .map_contents .address_wrap li span::before {
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  .map_info .map_contents .logo_img {
    max-width: 130px;
  }
  .map_info .map_contents .address_wrap li {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .transpo_wrap {
    margin-top: 35px;
  }
  .traffic_btn button {
    min-height: 35px;
    min-width: 110px;
    font-size: 1.4rem;
  }
  .transpo_wrap .info {
    flex-direction: column;
    align-items: center;
  }
  .transpo_wrap .info .left_ico::before {
    width: 55px;
    height: 55px;
  }
  .transpo_wrap .info .left_ico {
    font-size: 1.6rem;
  }
  .transpo_wrap .info .right_info {
    width: 100%;
  }
  .transpo_wrap .info .right_info .name {
    font-size: 1.6rem;
  }
  .transpo_wrap .info .right_info ul li {
    font-size: 1.4rem;
    padding-left: 10px;
  }
  .transpo_wrap .info .right_info ul li + li {
    margin-top: 5px;
  }
  .transpo_wrap .info .right_info ul li::before {
    top: 7px;
  }
  .transpo_wrap .info .right_info .box + .box {
    margin-top: 20px;
  }
  .direction_map_wrap .parking {
    font-size: 1.4rem;
    line-height: 20px;
    gap: 7px 15px;
  }
  .direction_map_wrap .parking span::before {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    margin-right: 5px;
    top: -1px;
  }
}

/* 편의안내 - 공중 화장실 */
.top_sub_txt {
  font-size: 2rem;
  font-family: var(--fontP);
  margin-bottom: 20px;
}
.toilet_list_wp > ul li + li {
  margin-top: 25px;
}
.toilet_list_wp > ul li .arcoBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #f5f5f5;
  line-height: 80px;
  text-align: left;
  padding: 2px 25px 0;
  font-size: 1.8rem;
  border-radius: 10px;
}
.toilet_list_wp > ul li .arcoBtn.on {
  border-radius: 10px 10px 0 0;
  color: #fff;
  background-color: var(--color01);
  transition: 0.3s;
}
.toilet_list_wp > ul li .arcoBtn::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../../assets/img/sub/info/ico_arco_arrow.svg) no-repeat;
  background-size: contain;
  transition: all 0.3s;
}
.toilet_list_wp > ul li .arcoBtn.on::after {
  transform: rotate(180deg);
  background-image: url(../../assets/img/sub/info/ico_arco_arrow_on.svg);
}
.toilet_list_wp > ul li .arcoBtn + .toilet_map :is(.location, .time) {
  transform: translateY(10px);
  opacity: 0;
  transition: 1s;
}
.toilet_list_wp > ul li .arcoBtn + .toilet_map .location {
  transition-delay: 0.2s;
}
.toilet_list_wp > ul li .arcoBtn + .toilet_map .time {
  transition-delay: 0.3s;
}
.toilet_list_wp > ul li .arcoBtn.on + .toilet_map .location {
  transform: translateY(0);
  opacity: 1;
}
.toilet_list_wp > ul li .arcoBtn.on + .toilet_map .time {
  transform: translateY(0);
  opacity: 1;
}
.toilet_list_wp > ul li .toilet_map {
  opacity: 0;
  transition: 0.4s ease;
  max-height: 0;
  overflow: hidden;
}
.toilet_list_wp > ul li .arcoBtn.on + .toilet_map {
  opacity: 1;
  max-height: 600px;
}
.toilet_list_wp > ul li .toilet_map .inner {
  padding: 25px;
  font-family: var(--fontP);
  font-weight: 600;
}
.toilet_list_wp > ul li .toilet_map .text {
  margin-bottom: 20px;
}
.toilet_list_wp > ul li .toilet_map .text p {
  display: flex;
  align-items: center;
  line-height: 25px;
  gap: 5px;
}
.toilet_list_wp > ul li .toilet_map .text p::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
}
.toilet_list_wp > ul li .toilet_map .text .location::before {
  background: url(../../assets/img/sub/info/ico_pin.png) no-repeat center center;
  background-size: contain;
}
.toilet_list_wp > ul li .toilet_map .text .time::before {
  background: url(../../assets/img/sub/info/ico_clock.png) no-repeat center
    center;
  background-size: 22px;
}
.maps {
  width: 100%;
  height: 400px;
  transition: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  transform: translateY(30px);
}
.toilet_list_wp > ul li .arcoBtn.on + .toilet_map .maps {
  transform: translateY(0);
  opacity: 1;
}

.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  overflow: hidden;
  background: var(--color02)
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--fontP);
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

@media screen and (max-width: 768px) {
  .top_sub_txt {
    font-size: 1.6rem;
  }
  .toilet_list_wp > ul li .arcoBtn {
    line-height: 50px;
    padding: 2px 15px 0;
    font-size: 1.6rem;
  }
  .toilet_list_wp > ul li .arcoBtn::after {
    width: 25px;
    height: 25px;
  }
  .toilet_list_wp > ul li .toilet_map .inner {
    padding: 20px 15px 0;
  }
  .toilet_list_wp > ul li .toilet_map .text p {
    font-size: 1.4rem;
  }
  .maps {
    height: 250px;
  }
  .customoverlay a {
    background-size: 7px;
    background-position: center right 10px;
  }
  .toilet_list_wp > ul li .toilet_map .text .location::before {
    background-size: 27px;
  }
  .toilet_list_wp > ul li .toilet_map .text .time::before {
    background-size: 19px;
  }
  .customoverlay .title {
    padding: 7px 10px;
    font-size: 14px;
    margin-right: 25px;
  }
}

/* 편의시설 - 안전 정보 */
table {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.basic_table .scroll_table {
  display: block;
  overflow-x: auto;
}

.basic_table table {
  min-width: 500px;
  border-top: 2px solid var(--color01);
}
.basic_table table thead tr {
  border-bottom: 1px solid #ddd;
}
.basic_table table thead tr th {
  font-weight: 400;
  padding: 15px 15px 10px;
  text-align: center;
  background: #edf5ed;
}
.basic_table table thead tr th:not(:last-of-type) {
  border-right: 1px solid #ddd;
}
.basic_table table tbody tr td {
  padding: 15px 15px 10px;
  text-align: center;
}
.basic_table table tbody tr {
  border-bottom: 1px solid #ddd;
}
.basic_table table tbody tr td:not(:last-of-type) {
  border-right: 1px solid #ddd;
}
.bg_safety_box {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  padding: 40px;
  background: #ededed;
}
.bg_safety_box::before {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #fff url(../../assets/img/sub/info/ico_safety.png) no-repeat
    center center;
  border-radius: 50%;
}
.bg_safety_box .box_wrap .basic_txt {
  margin-bottom: 20px;
  font-size: 1.9rem;
}
.bg_safety_box .box_wrap .strong {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.9rem;
}
.bg_safety_box .box_wrap ul li {
  position: relative;
  padding-left: 14px;
  font-size: 1.7rem;
}
.bg_safety_box .box_wrap ul li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #333;
}
.bg_safety_box .box_wrap ul li strong {
  color: var(--color01);
}
.bg_safety_box .box_wrap ul li + li {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .basic_table table thead tr th {
    padding: 10px 10px 5px;
    font-size: 1.5rem;
  }
  .basic_table table tbody tr td {
    padding: 10px 10px 5px;
    font-size: 1.4rem;
  }
  .bg_safety_box {
    padding: 25px 20px;
    flex-direction: column;
    gap: 25px;
  }
  .bg_safety_box::before {
    width: 90px;
    height: 90px;
    background-size: 50px;
  }
  .bg_safety_box .box_wrap {
    width: 100%;
  }
  .bg_safety_box .box_wrap .basic_txt {
    font-size: 1.6rem;
  }
  .bg_safety_box .box_wrap .strong {
    font-size: 1.6rem;
  }
  .bg_safety_box .box_wrap ul li {
    padding-left: 11px;
    font-size: 1.4rem;
    line-height: 22px;
  }
  .bg_safety_box .box_wrap ul li::before {
    width: 4px;
    height: 4px;
    top: 7px;
  }
  .bg_safety_box .box_wrap ul li + li {
    margin-top: 7px;
  }
}

/* 편의시설 - 문화 관광 해설사 */
.tourism_guide_wrap .guide_info > ul {
  display: flex;
  gap: 30px;
}
.tourism_guide_wrap .guide_info > ul > li {
  flex: 1 1 300px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.tourism_guide_wrap .guide_info > ul > li .img_wp {
  width: 100%;
  aspect-ratio: 10 / 8;
  overflow: hidden;
  background-color: #d7e7e7;
}
.tourism_guide_wrap .guide_info > ul > li .img_wp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp {
  padding: 25px 15px;
  border: 1px solid #ddd;
  border-radius: 0 0 15px 15px;
  flex-grow: 1;
  height: auto;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp .tit_txt {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.bar_list li {
  position: relative;
  padding-left: 15px;
  font-size: 1.6rem;
}
.bar_list li + li {
  margin-top: 5px;
}
.bar_list li::before {
  content: "";
  width: 7px;
  height: 1.5px;
  background: #333;
  position: absolute;
  left: 0;
  top: 10px;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp .explan_txt {
  line-height: 25px;
  font-size: 1.6rem;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp .explan_txt .sub_txt {
  display: flex;
  font-size: 1.4rem;
  line-height: 21px;
  margin-top: 10px;
  text-align: left;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp .explan_txt .sub_txt::before {
  flex-shrink: 0;
  content: "!";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color01);
  color: #fff;
  line-height: 20px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 7px;
  margin-top: -1px;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp .explan_txt p {
  text-align: center;
}
.tourism_guide_wrap .guide_info > ul > li .txt_wp .explan_txt p + .bar_list {
  margin-top: 10px;
}
.tourism_guide_wrap .bg_safety_box {
  margin-top: 45px;
}
.tourism_guide_wrap .bg_safety_box .btn_link {
  display: inline-block;
  padding: 10px 15px 9px;
  background: #9acb69;
  background: linear-gradient(
    90deg,
    rgba(154, 203, 105, 1) 0%,
    rgba(89, 163, 92, 1) 35%,
    rgba(154, 203, 105, 1) 69%,
    rgba(68, 150, 88, 1) 100%
  );
  background-size: 310% 200%;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 10px;
  margin-top: 7px;
}
.tourism_guide_wrap .bg_safety_box .btn_link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../assets/img/sub/info/ico_link.png) no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
  margin-left: 7px;
}

.tourism_guide_wrap .bg_safety_box .btn_link:hover {
  background-position: right center;
}

@media screen and (max-width: 768px) {
  .tourism_guide_wrap .guide_info > ul {
    flex-direction: column;
  }
  .tourism_guide_wrap .guide_info > ul > li {
    flex: auto;
  }
  .tourism_guide_wrap .guide_info > ul > li .img_wp {
    aspect-ratio: 10 / 6;
  }
  .tourism_guide_wrap .guide_info > ul > li .txt_wp .tit_txt {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .tourism_guide_wrap .guide_info > ul > li .txt_wp .explan_txt p {
    font-size: 1.4rem;
    line-height: 21px;
  }
  .tourism_guide_wrap .bg_safety_box .btn_link {
    font-size: 1.3rem;
  }
  .tourism_guide_wrap .bg_safety_box .btn_link::after {
    width: 20px;
    height: 20px;
  }
  .bar_list li {
    font-size: 1.4rem;
    padding-left: 12px;
  }
  .bar_list li + li {
    margin-top: 2px;
  }
}
